<section class="menusContainer">
    <section class="menu menu-1">
        <div class="animation">

            <div class="content ">
                <div class="items">
                    <div class="titre "><span class="note">La note enchantée</span></div>
                    <div class="texte">Menu</div>
                </div>
            </div>
        </div>
    </section>
    <section class="menu menu-2">
        <div class="animation">
            <div class="content">
                <div class="items">
                    <div class="titre">Le chic à la francaise</div>
                    <div class="texte">Menu</div>
                </div>
            </div>
        </div>
    </section>
    <section class="menu menu-3 ">
        <div class="animation">
            <div class="content">
                <div class="items">
                    <div class="titre">Le delice des papilles</div>
                    <div class="texte">Menu</div>
                </div>
            </div>
        </div>
    </section>
    <section class="menu menu-4 ">
        <div class="animation">
            <div class="content">
                <div class="items">
                    <div class="titre">La Palette du gout</div>
                    <div class="texte">Menu</div>
                </div>
            </div>
        </div>
    </section>
</section>