<div class="menusContainer">
   <div class="menu menu-1">
        <div class="animation">

          <a href="menu1.html">   <div class="content ">
                <div class="items">
                    <h2 class="titre "><span class="note">La note enchantée</span></h2>
                    <div class="texte">Menu</div>
                </div>
            </div></a>
        </div>
    </div>



  <div class="menu menu-2">
        <div class="animation">
            <a href="menu2.html"><div class="content">
                <div class="items">
                    <h2 class="titre">Le chic à la francaise</h2>
                    <div class="texte">Menu</div>
                </div>
            </div></a>
        </div>
    </div>


    <div class="menu menu-3 ">
        <div class="animation">
            <a href="menu3.html"><div class="content">
                <div class="items">
                    <h2 class="titre">Le delice des papilles</h2>
                    <div class="texte">Menu</div>
                </div>
            </div></a>
        </div>
    </div>


    <div class="menu menu-4 ">
        <div class="animation">
<a href="menu4.html"><div class="content">
                <div class="items">
                    <div class="titre">La Palette du gout</div>
                    <div class="texte">Menu</div>
                </div>
            </div></a>
        </div>
    </div>
</div>