.menu3 {

   h2 {

   font-size: 15px;
   
   }

    h1 {
        background: -webkit-linear-gradient(0deg, #0645e5 0%, #0887fb 80%);
        
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Zhi Mang Xing", sans-serif;

    }
   
    
    .apero {
        color: #0228dc;
        .trait {
            background-image: url("/dist/t2b1.svg");
        }
    }
    .plats {
        color: #0093ee;
        .trait {
            background-image: url("/dist/t2b2.svg");
        }
    }
    .dessert {
        color:#229df9;
        .trait {
            background-image: url("/dist/t2b3.svg");
        }
    }
    .content  {


        background-color: #edefef;
    }
}