<div class="menuContainer menu3">

    <h1>Le délice des papilles</h1>


    <div class="content animation">
        <div class="apero">
            <div class="trait-content">
                <div class="trait translate "></div>
                <div class="h2">
                    <h2>Pour bien commencer</h2>
                </div>

                <div class="trait"></div>
            </div>

            <p>Tartare de thon assaisonné au yusu<span>55&euro;</span></p>
            <p>Bouchée de homard croustillant et sa farandole de petits legumes<span>89&euro;</span></p>
            <p>Velouté de cèpes aux truffes<span>56&euro;</span></p>
            
        </div>
        <div class="plats">
            <div class="trait-content">
                <div class="trait"></div>
                <div class="h2">
                    <h2>Pour bien continuer</h2>
                </div>

                <div class="trait"></div>
            </div>

            <p>Poulet roti aux herbe de provence et sa crème de truffe<span>110&euro; </span></p>
            <p>Langouste rotie et ses legumes de saison<span>225&euro;</span></p>
            <p>Cote de boeuf angus et sa purée de panais<span>115&euro;</span></p>
            
        </div>
        <div class="dessert">
            <div class="trait-content">
                <div class="trait "></div>
                <div class="h2">
                    <h2>Pour bien terminer</h2>
                </div>

                <div class="trait"></div>
            </div>

            <p>Farandole de desserts du chef <span>55&euro;</span></p>
            <p>Crème brulée revisitée<span>60&euro;</span></p>
            <p>Tiramisu à la noisette  <span>55&euro;</span></p>
        </div>
    </div>
</div>