.menuContainer {

  width: 50%;
  margin: auto;


  .content {
    width: 800px;


  }
}

.menuContainer span {
  float: right;
  padding-right: 10px;
}

.menu1 h2::before {

  color: #c67412ff;
  display: block;
  float: right;
  content: "";
  height: 24.5px;
  width: 25%;
  background-image: url("trait-menu1.svg");
  background-position: center;
  background-size: 150px 100px;
  background-repeat: no-repeat;
}
.menu1 {

  font-size: 12px;
}
.menu1 h2::after {
  display: block;
  float: left;
  content: "";
  height: 24.5px;
  width: 25%;
  background-image: url("trait-menu1.svg");
  background-position: center;
  background-size: 150px 100px;
  background-repeat: no-repeat;
}

.menuContainer h1, .menuContainer h2 {
  text-align: center;
}

.menuContainer .content {

  padding: 20px;
  margin: auto;
  height: auto;
  width: 100%;
  background-color: #fcdfdb;
}

.menu1 {
  font-family: "Zhi Mang Xing", sans-serif;
}
