.menuContainer {
    padding: 20px;
    margin: auto;
    width: 400px;
    .content {
        padding: 20px;
        width: 400px;
    }
    h1 {
        text-align: center;
        padding: 20px;
        margin: auto;
        width: 400px;
    }
}

.trait {
    width: 100px;
    height: 40px;
    background-position: center center;
    background-size: 100px 80px;
}

.trait-content {
    display: flex;
    justify-content: space-around;
}









.menu1 {
    font-family: "Zhi Mang Xing", sans-serif;
}

.menu1 {
    .apero .dessert .plats {}
}

.menu1 {
    .trait {
        background-image: url("/dist/trait-menu1.svg");
    }
    .h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }
}