                                .menu2 {
                                    font-size: 12px;
                                    .apero {
                                        color: #c67412;
                                        .trait {
                                            background-image: url("/dist/t-orange.svg");
                                        }
                                    }
                                    .plats {
                                        color: #a56799;
                                        .trait {
                                            background-image: url("/dist/t-violet.svg");
                                        }
                                    }
                                    .dessert {
                                        color: #6e4ccc;
                                        .trait {
                                            background-image: url("/dist/t-orange.svg");
                                        }
                                    }
                                }