<div class="menuContainer menu2">

    <h1>La note enchantee</h1>


    <div class="content animation">
        <div class="apero">
            <div class="trait-content">
                <div class="trait rotate"></div>
                <div class="h2">
                    <h2>Prelude</h2>
                </div>

                <div class="trait"></div>
            </div>

            <p>Raviole de foie gras accompagnés de leur crème à la truffe <span>98&euro; </span></p>
            <p>Caviare osciètre sur blini à la farine de blé noir<span> 115&euro;</span></p>
            <p>Homard et espuma de potiron mariné aux zest d'orange<span>89&euro;</p>
            <p>Foie gras de canard cuit entier,confiture de figue et pain toasté<span>105&euro;</span></p>
        </div>
        <div class="plats">
            <div class="trait-content">
                <div class="trait rotate"></div>
                <div class="h2">
                    <h2>Prelude</h2>
                </div>

                <div class="trait"></div>
            </div>

            <p>Raviole de foie gras accompagnés de leur crème à la truffe <span>98&euro; </span></p>
            <p>Caviare osciètre sur blini à la farine de blé noir<span> 115&euro;</span></p>
            <p>Homard et espuma de potiron mariné aux zest d'orange<span>89&euro;</p>
            <p>Foie gras de canard cuit entier,confiture de figue et pain toasté<span>105&euro;</span></p>
        </div>
        <div class="dessert">
            <div class="trait-content">
                <div class="trait rotate"></div>
                <div class="h2">
                    <h2>Prelude</h2>
                </div>

                <div class="trait"></div>
            </div>

            <p>Raviole de foie gras accompagnés de leur crème à la truffe <span>98&euro; </span></p>
            <p>Caviare osciètre sur blini à la farine de blé noir<span> 115&euro;</span></p>
            <p>Homard et espuma de potiron mariné aux zest d'orange<span>89&euro;</p>
            <p>Foie gras de canard cuit entier,confiture de figue et pain toasté<span>105&euro;</span></p>
        </div>
    </div>
</div>